In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r'D:\NSP\NSP Assam\Extracted Files\ST\POST\STUDENT_PROFILE_COMBINED.csv')

In [4]:
df.dtypes

APPLICANT ID      object
APPLICANT NAME    object
ACADEMIC YEAR     object
SCHEME            object
STATE             object
FEE                int64
TOTAL MARKS        int64
dtype: object

In [5]:
df.describe()

                 FEE    TOTAL MARKS
count  131480.000000  131480.000000
mean     8560.680932     449.782309
std      6975.410555      86.673964
min      1610.000000     300.000000
25%      3990.000000     375.000000
50%      6700.000000     450.000000
75%     10850.000000     525.000000
max     62000.000000     600.000000

In [6]:
df['FEE'].min()

1610

In [7]:
df['FEE'].max()

62000

In [8]:
df['FEE'].mean()

8560.680932461211

In [9]:
df['FEE'].median()

6700.0

In [10]:
df['FEE'].std()

6975.41055535243

In [11]:
df['FEE'].cumsum()

0              37000
1              74000
2             104500
3             141500
4             178500
             ...
131475    1125511019
131476    1125520029
131477    1125523029
131478    1125546029
131479    1125558329
Name: FEE, Length: 131480, dtype: int64