In [ ]:
#SortStudents function. Takes as input a list of Student objects,

#sorted alphabetically by name (last, then first), and outputs a list of

#Student objects, sorted by the following priority:

#house, then year, then name.

In [160]:
def SortStudents(studentList):
    cols_in_order = ['House','Year','Name']
    abc = pd.DataFrame(studentList.apply(pd.Series.value_counts))
    l = []
    for k in cols_in_order:
        print(k)
        s = abc[k].dropna().sort_values(ascending = False)
        print(s)
        a = list(s.index)
        b = [int(s) for s in s]
        c = sum([[s] * n for s, n in zip(a, b)], [])
        l.append(c)
        print(c)

    student_list = pd.DataFrame(list(zip(*l)),columns = cols_in_order)
    return student_list

In [161]:
import pandas as pd
sl  = pd.read_csv(r'C:\Users\User 8\Desktop\studentlist.csv')
SortStudents(sl)

House
ABC    3.0
BCD    2.0
Name: House, dtype: float64
['ABC', 'ABC', 'ABC', 'BCD', 'BCD']
Year
2000    3.0
1998    1.0
1995    1.0
Name: Year, dtype: float64
[2000, 2000, 2000, 1998, 1995]
Name
xxx        1.0
Sha Hai    1.0
Ishan      1.0
Hai Sha    1.0
Ghashi     1.0
Name: Name, dtype: float64
['xxx', 'Sha Hai', 'Ishan', 'Hai Sha', 'Ghashi']

  House  Year     Name
0   ABC  2000      xxx
1   ABC  2000  Sha Hai
2   ABC  2000    Ishan
3   BCD  1998  Hai Sha
4   BCD  1995   Ghashi

In [192]:
import itertools, operator
matches = [sl.columns]
for mat_x in itertools.product(*matches):
    #print(mat_x)
    m=''
    for x in mat_x:
        m = m+x
        print(m)

House
Year
Name

In [194]:
import itertools

a = ['House']
b = ['Year']
c = ['Name']

args = [a,b,c]

for combination in itertools.product(*args):
    print(combination)

('House', 'Year', 'Name')

In [195]:
MAXROWS = 4      #    contains the number of levels
MAXVALUES = 2    #    contains the maximum combination for a given nested variables.

display = ['1', '2', '3', '4', '5', '6', '7', '8', '9']

arrs = [0] * MAXROWS   # represent the different variables in the for loops                      
status = False

while not status: 

    total = 0
    # calculate total for exit condition
    for r in range(MAXROWS):
        total += arrs[r]
        # test for exit condition
    if total == (MAXVALUES - 1) * MAXROWS:
        status = True

    # printing
    for r in range(MAXROWS):
        print(display[arrs[r]], end=' ')  # print(arrs[r])
    print()

    # increment loop variables
    change = True
    r = MAXROWS-1    # start from innermost loop

    while change and r >= 0:
    # increment the innermost variable and check if spill overs
        if (arrs[r] + 1) > MAXVALUES-1:    
            arrs[r] += 1
            arrs[r] = 0     #  // reintialize loop variable
            # Change the upper variable by one
            # We need to increment the immediate upper level loop by one
            change = True   
        else:
            arrs[r] += 1
            change = False   # Stop as there the upper levels of the loop are unaffected

            # We can perform any inner loop calculation here arrs[r]

        r -= 1  #  move to upper level of the loop

1 1 1 1
1 1 1 2
1 1 2 1
1 1 2 2
1 2 1 1
1 2 1 2
1 2 2 1
1 2 2 2
2 1 1 1
2 1 1 2
2 1 2 1
2 1 2 2
2 2 1 1
2 2 1 2
2 2 2 1
2 2 2 2

In [145]:
 pd.DataFrame(list(zip(*l)),columns = cols_in_order)

  House  Year     Name
0   ABC  2000  Sha Hai
1   ABC  2000    Ishan
2   ABC  1998  Hai Sha
3   BCD  1995   Ghashi

In [91]:
abc = pd.DataFrame(sl.apply(pd.Series.value_counts))
abc['House'].dropna().sort_values(ascending = False).index

Index(['ABC', 'BCD'], dtype='object')

In [95]:
list(s.index)
list(s)

[2, 1]

In [10]:
# Counting sort in Python programming

def countingSort(array):
    size = len(array)
    output = [0] * size

    # Initialize count array
    count = [0] * 10

    # Store the count of each elements in count array
    for i in range(0, size):
        count[array[i]] += 1

    # Store the cummulative count
    for i in range(1, 10):
        count[i] += count[i - 1]

    # Find the index of each element of the original array in count array
    # place the elements in output array
    i = size - 1
    while i >= 0:
        output[count[array[i]] - 1] = array[i]
        count[array[i]] -= 1
        i -= 1

    # Copy the sorted elements into original array
    for i in range(0, size):
        array[i] = output[i]


data = [4, 2, 2, 8, 3, 3, 1]
countingSort(data)
print("Sorted Array in Ascending Order: ")
print(data)

Sorted Array in Ascending Order:
[1, 2, 2, 3, 3, 4, 8]

In [13]:
# Python program for counting sort
 
# The main function that sort the given string arr[] in
# alphabetical order
def countSort(arr):
 
    # The output character array that will have sorted arr
    output = [0 for i in range(256)]
 
    # Create a count array to store count of individual
    # characters and initialize count array as 0
    count = [0 for i in range(256)]
 
    # For storing the resulting answer since the
    # string is immutable
    ans = ["" for _ in arr]
 
    # Store count of each character
    for i in arr:
        count[ord(i)] += 1
 
    # Change count[i] so that count[i] now contains actual
    # position of this character in output array
    for i in range(256):
        count[i] += count[i-1]
 
    # Build the output character array
    for i in range(len(arr)):
        output[count[ord(arr[i])]-1] = arr[i]
        count[ord(arr[i])] -= 1
 
    # Copy the output array to arr, so that arr now
    # contains sorted characters
    for i in range(len(arr)):
        ans[i] = output[i]
    return ans
 

# Driver program to test above function
arr = "geeksforgeeks"
ans = countSort(arr)
print ("Sorted character array is %s"  %("".join(ans)))
 
# This code is contributed by Nikhil Kumar Singh

Sorted character array is eeeefggkkorss